.left-pane {
    background: #15202b;
    color: #fff;
    border-right: rgb(148, 163, 184) 1px solid;
    height: 100vh;

    .active {
        font-weight: bold;

        .icon {
            color: deepskyblue;
        }

        // when receive notification add blue dot
        // .icon {
        //     position: relative;

        //     &::after {
        //         content: '';
        //         position: absolute;
        //         top: -5px;
        //         right: 10px;
        //         width: 8px;
        //         height: 8px;
        //         background-color: #1da1f2;
        //         border-radius: 50%;
        //     }
        // }
    }
}

.nav-logo {
    font-size: 1.2em;
    padding-right: 10px;
}

nav svg {
    height: 1.3em;
    margin-right: 0.9em;
}

nav>*,
button.more-btn {
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 400;
    width: 100%;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.3em;
        width: fit-content;
        padding: 0 1.5em 0 .5em;
    }

    &:hover div {
        border-radius: 1.5em;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.twitter-icon {
    cursor: pointer;

    &:hover {
        border-radius: 1.5em;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

footer {
    cursor: pointer;

    &:hover {
        border-radius: 2em;
        background-color: rgba(255, 255, 255, 0.1);
    }
}