.right-pane {
    background: #15202b;
    color: #fff;
    min-height: 100vh;
    border-left: rgb(148, 163, 184) 1px solid;
}

.search-bar {

    &:focus-within {
        .search-icon {
            color: #0e5ead;
        }

        border: #0e5ead 2px solid;
    }
}

.search-bar-bg {
    background: #15202b;
    width: 100%;
}