* {
    margin: 0;
    padding: 0;
}

.app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1.3fr 1.8fr 1.7fr;
    background: #171717;
    color: #fff;
}